@import '../../utils/variables.scss';

.SignInWindow {
    background-color:black;
    &.sign-in {
        background-image:url('../../images/sign-in.jpg');
        @media #{$phone} {
            background:white!important;
        }
    }
    &.sign-up {
        background-image:url('../../images/sign-up.jpg');
        @media #{$phone } {
            background:white!important;
        }
    }
    background-size: cover;
    width:100%;
    height:100vh;
    -webkit-box-shadow: 0px 0px 7px 6px rgba(0,0,0,0.52);
    -moz-box-shadow: 0px 0px 7px 6px rgba(0,0,0,0.52);
    box-shadow: 0px 0px 7px 6px rgba(0,0,0,0.52);
    .background-overlay {
        background-color:rgba(0, 0, 0, .5);
        width:100%;
        height:100vh;
        display:flex;
        justify-content:center;
        align-items:center;
        .window {
            margin-top:1rem;
            padding:2rem;
            background-color:white;
            border:1px solid lightgray;
            border-radius:5px;
            width:27.5rem;
            height:30rem;
            display:flex;
            flex-direction:column;
            align-items:center;
            h2 {
                margin:0 0 1.2rem 0;
            }
            form {
                width:100%;
                height:80%;
                border-top:1px solid lightgray;
                display:flex;
                flex-direction:column;
                justify-content:space-between;
                &.form-signin {
                    padding: .5rem 0 3rem 0;
                }
                &.form-signup {
                    padding: .5rem 0 2rem 0;
                }
                .error {
                    height:10px;
                    text-align:center;
                }
                .password-container {
                    width:100%;
                    position:relative;
                    .eye-icon {
                        position:absolute;
                        z-index:1;
                        top:25%;
                        right:10px;
                        font-size:1.5rem;
                        &:hover {
                            cursor:pointer;
                            color:gray;
                        }
                    }
                }
            }
            .window-bottom {
                padding-top:1rem;
                width:100%;
                border-top:1px solid lightgray;
                display:flex;
                justify-content:center;
            }
        }
    }
    @media #{$phone} {
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.52);
        -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.52);
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.52);
        .background-overlay {
            background:none;
            align-items:flex-start;
            .window {
                width:100%;
                padding:1rem;
                margin:0;
                border:0;
                form {
                    height:70%;
                }
            }
        }
    }
}