@import '../../utils/variables.scss';

.UserPage {
    width:100%;
    .user-page-container {
        padding-top:100px;
        .user-header {
            width:100%;
            display:flex;
            justify-content:space-between;
            height:14rem;
            .user-picture {
                display:flex;
                flex-direction:column;
                align-items:center;
                justify-content:space-between;
                position:relative;
                width:22%;
                .user-picture-container {
                    width:80%;
                    height:auto;
                    display:flex;
                    align-items:center;
                    border-radius:10px;
                    img {
                        border-radius:inherit;
                        width: 100%;
                    }
                }
                .upload-error {
                    height:1.5rem;
                }
            }
            .user-name {
                display:flex;
                flex-direction:column;
                align-items:center;
                justify-content:space-between;
                width:56%;
                h2 {
                    width:100%;
                    margin:0;
                    display:flex;
                    align-items:center;
                    i {
                        font-size:2rem;
                    }
                }
                p {
                    width:90%;
                    text-align:center;
                    span {
                        font-weight:bold;
                    }
                    &.bio {
                        font-style:italic;
                    }
                }
            }
            .user-buttons {
                display:flex;
                flex-direction:column;
                justify-content:space-between;
                width:22%;
                padding: 1.5rem 0;
                button {
                    display:flex;
                    justify-content:space-between;
                    i {
                        font-size:1.2rem;
                    }
                }
            }
        }
    }
    .DataList {
        padding:0;
    }
    @media #{$phone} {
        .user-page-container {
            padding-top:0;
            .user-header {
                flex-direction:column;
                align-items:center;
                height:auto;
                width:100%;
                .user-picture {
                    order:3;
                    width:70%;
                    .link-button {
                        font-size:1.3rem;
                    }
                }
                .user-name {
                    order:3;
                    width:100%;
                    h2 {
                        width:100%;
                        font-size:2.3rem;
                    }
                    p {
                        width:100%;
                    }
                }
                .user-buttons {
                    order:1;
                    width:80%;
                    button {
                        margin:.3rem 0;
                    }
                }
            }
        }
    }
}