@import '../../utils/variables.scss';

.add {
    .form-body {
        border-top:1px solid lightgray;
        padding: 2rem 0;
        width:100%;
        display:flex;
        justify-content:space-between;
        .image-upload-container {
            width:25%;
            display:flex;
            flex-direction:column;
            align-items:center;
            > * {
                margin-bottom:.5rem;
            }
            .image-upload {
                width:100%;
            }
        }
        form {
            padding:0 0 0 2rem;
            width:75%;
            button {
                margin-bottom:1rem;
            }
            textarea {
                resize: none;
            }
            label {
                font-weight:bold;
            }
            .dropdown-container {
                display:flex;
                justify-content:space-between;
                height:2.6rem;
                margin:.75rem 0;
                .amount {
                    width:15%;
                    height:100%;
                }
                .dropdown {
                    width:75%;
                    height:100%;
                }
                .drop-button {
                    width:8%;
                    height:100%;
                }
            }
            .add-ingredient-btn {
                margin-bottom:.75rem;
            }
            .legal-icons {
                font-size:1.4rem;
                height:2rem;
                margin-bottom:1rem;
                display:flex;
                align-items:center;
                i {
                    transition:.2s;
                    display:flex;
                    align-items:center;
                    &:hover {
                        font-size:1.5rem;
                        cursor:pointer;
                    }
                }
            }
        }
        @media #{$phone} {
            flex-direction:column;
            .image-upload-container, form {
                width:100%;
                padding:0;
                .dropdown-container {
                    .amount {
                        width:15%;
                    }
                    .dropdown {
                        width:66%;
                    }
                    .drop-button {
                        width:15%;
                    }
                }
            }
        }
    }
    // * {
    //     border:1px solid gray;
    // }
}