.user-error {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    .error-image {
        width:40rem;
    }
    .error-message {
        font-weight:bold;
        margin:1rem 0;
    }
}