.user-error {
    height:100vh;
    display:flex;
    padding:6rem 0;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    div:first-child {
        width:40rem;
    }
    .error-message {
        font-weight:bold;
    }
}