@import "./utils/variables.scss";

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(./fonts/Lato-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato Light';
  src: local('Lato Light'), url(./fonts/Lato-Light.ttf) format('truetype');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  // border:1px solid gray;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  font-family: 'Lato', 'Helvetica', sans-serif;
  font-size:1.1rem;
}

.header-button {
  background-color:white!important;
  color:black!important;
  font-size:1.1rem!important;
  &:active {
    background-color:lightgray!important;
  }
}

p {
  margin-bottom:20px;
  line-height: 1.5rem;
}

a, .link-button {
  color:#4183C4;
  font-weight:bold;
  &:hover {
    cursor:pointer;
    color:#1e70bf;
  }
  &.danger {
    color: red;
    &:hover {
      color: firebrick;
    }
  }
}

.link-button:hover {
  cursor:pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:bold;
}

h2 {
  font-size:3rem;
  width:100%;
  display:flex;
  text-align:center;
  justify-content:center;
  margin: 25px;
  &.first {
    margin-top:100px;
    @media #{$phone} {
      margin-top:20px;
    }
  }
  &.small {
    font-size:2.5rem;
  }
  @media #{$phone} {
    margin:0;
  }
}

img {
  width:100%;
}

form {
  label {
    font-weight:bold;
  }
}

.page {
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  padding: 0 15%;
  overflow:hidden;
  @media #{$phone} {
    padding:0 .5rem;
    .pagination {
      font-size:.8rem;
    }
  }
  @media #{$fhd} {
    padding: 0 25%;
  }
  @media #{$fourk} {
    padding: 0 35%;
  }
  .pagination {
    margin:1.5rem!important;
  }
  section {
    padding: 30px 0;
    width:100%;
    border-top:1px solid lightgray;
    &.image-segment {
      display:flex;
      justify-content:space-between;
      .image-container {
        width:42%;
      }
      .info-container {
        width:55%;
      }
      @media #{$phone} {
        flex-direction:column;
        .image-container, .info-container {
          width:100%;
        }
      }
    }
  }
  .search-result-message {
    height:2rem;
    overflow:hidden;
    transition:.5s;
    &.hidden {
      height:0;
    }
  }
  .heading {
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items: flex-end;
    padding-bottom:1.5rem;
    *:first-child, *:last-child {
      width:13rem;
      @media #{$fhd} {
        width:13rem;
      }
    }
    h2 {
      width:50%;
      margin-bottom:0;
    }
    @media #{$phone} {
      flex-direction:column;
      justify-content:flex-end;
      align-items:center;
      button {
        margin-top:10px;
        width:100%;
      }
      h2 {
        width:100%;
      }
    }
  }
}

.page-loading {
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.listing {
  border-top:1px solid lightgray;
  padding: 15px 30px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:100%;
  min-height:10rem;
  @media #{$phone} {
    flex-direction:column;
    padding: 15px 0;
  }
  .listing-image {
    width:12%;
    display:flex;
    align-items:center;
    @media #{$phone} {
      width:70%;
    }
    &:hover {
      cursor:pointer;
    }
  }
  .placeholder-listing-image {
    width:12%;
    height:50%;
  }
  .listing-info {
    width:86%;
  
    .listing-header {
      display:flex;
      justify-content:space-between;
      align-items:center;
      .listing-user-ops {
        display:flex;
        justify-content:space-between;
        width:7rem;
        @media #{$phone} {
          div:nth-child(1) {
            color:green;
          }
        }
      }
      @media #{$phone} {
        flex-direction:column;
        text-align:center;
        > a {
          width:100%;
          padding:.3rem 0;
        }
        > a:first-child {
          font-size:2rem;
        }
      }
    }
    .listing-description {
      margin-top:5px;
      min-height:4rem;
      @media #{$phone} {
        display:none;
      }
    }
    .listing-date {
      display:flex;
      justify-content:space-between;
      margin-top:5px;
      color:lightgray;
      font-family: 'Lato Light', sans-serif;
    }
    &.delete-mode {
      width:100%;
      .listing-description {
        height:100%;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        width:100%;
        div:first-child {
          margin-bottom:.5rem;
        }
        .loader::after {
          border-color:red transparent transparent!important;
        }
        .buttons {
          display:flex;
          justify-content:space-between;
          width:15rem;
        }
      }
    }
  }
  // * {
  //   border:1px solid gray;
  // }
  &:last-of-type {
    border-bottom:1px solid lightgray;
    margin-bottom:25px;
  }
  // &:hover {
  //   background-color:#F5F5F5;
  //   cursor:pointer;
  // }
}