@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(./fonts/Lato-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato Light';
  src: local('Lato Light'), url(./fonts/Lato-Light.ttf) format('truetype');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  // border:1px solid gray;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  font-family: 'Lato', 'Helvetica', sans-serif;
  font-size:1.1rem;
}

.header-button {
  background-color:white!important;
  color:black!important;
  font-size:1.1rem!important;
  &:active {
    background-color:lightgray!important;
  }
}

p {
  margin-bottom:20px;
  line-height: 1.5rem;
}

a, .link-button {
  color:#4183C4;
  font-weight:bold;
  &:hover {
    cursor:pointer;
    color:#1e70bf;
  }
}

.link-button:hover {
  cursor:pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:bold;
}

h2 {
  font-size:3rem;
  width:100%;
  display:flex;
  text-align:center;
  justify-content:center;
  margin: 25px;
  &.first {
    margin-top:100px;
  }
}

img {
  width:100%;
}

.page {
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  padding: 0 15%;
  section {
    padding: 30px 0;
    width:100%;
    border-top:1px solid lightgray;
    &.image-segment {
      display:flex;
      justify-content:space-between;
      .image-container {
        width:42%;
      }
      .info-container {
        width:55%;
      }
    }
  }
  .search-result-message {
    height:2rem;
    overflow:hidden;
    transition:.5s;
    &.hidden {
      height:0;
    }
  }
}

.page-loading {
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.listing {
  border-top:1px solid lightgray;
  padding: 15px 30px;
  display:flex;
  justify-content:space-between;
  width:100%;
  .listing-image {
    width:12%;
    display:flex;
    align-items:center;
    .placeholder {
      width:100%;
      height:100%;
    }
  }
  .listing-info {
    width:86%;
    .listing-header {
      display:flex;
      justify-content:space-between;
      align-items:center;
    }
    .listing-description {
      margin-top:5px;
    }
    .listing-date {
      display:flex;
      justify-content:space-between;
      margin-top:5px;
      color:lightgray;
      font-family: 'Lato Light', sans-serif;
    }
    .placeholder {
      max-width:100%!important;
      height:100%;
    }
  }
  // * {
  //   border:1px solid gray;
  // }
  &:last-of-type {
    border-bottom:1px solid lightgray;
    margin-bottom:25px;
  }
  // &:hover {
  //   background-color:#F5F5F5;
  //   cursor:pointer;
  // }
}